

<div class="container">
  <div class="container_cover">
    <div class="container_cover_weather">
      <div class="container_cover_weather_header">
        <input class="container_cover_weather_header_input" type="text" placeholder="Location" id="location_input">
        <button class="container_cover_weather_header_button" id="show">Show</button>
      </div>
      <div class="container_cover_weather_main">

        <div class="weather_icon_temp">
          <img class="weather_icon_temp__icon" src="http://openweathermap.org/img/w/01n.png" alt="Weather">
          <span class="weather_icon_temp__temperature">27&#8451;</span>
        </div>
        <div class="weather_wind_speed">
          <span class="weather_wind_speed__speed">Wind speed: 10 km/h</span>
        </div>
        <div class="weather_description">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus dignissimos dolorum, laudantium eum autem quis aut quaerat facere totam dolores. Nobis, rem veniam, odio praesentium aperiam nulla quasi debitis velit ex, reiciendis voluptate quo voluptates minima alias. Nemo, quibusdam quo.</p>
        </div>

      </div>
      <div class="container_cover_weather_footer">
        <span class="container_cover_weather_footer_span">&#169; 404th</span>
      </div>
    </div>
  </div>
</div>